In [3]:
import numpy as np 
import pandas as pd 
from statsmodels.tsa.stattools import adfuller, coint 
import matplotlib.pyplot as plt
import yfinance as yf
np.random.seed(42)

In [6]:
n = 1000
time = np.arange(n)

asset1 = np.cumsum(np.random.randn(n)) + 41
asset2 = asset1 + np.random.randn(n)

data = pd.DataFrame({'asset1': asset1, 'asset2': asset2})
data.head()

      asset1     asset2
0  40.324822  38.417014
1  40.180303  39.319918
2  39.387883  38.974278
3  39.079922  40.967609
4  37.186307  37.742860