In [3]:
import numpy as np 
import pandas as pd 
from statsmodels.tsa.stattools import adfuller, coint 
import matplotlib.pyplot as plt
np.random.seed(42)

In [5]:
n = 1000
time = np.arange(n)

asset1 = np.cumsum(np.random.randn(n)) + 41
asset2 = asset1 + np.random.randn(n)

data = pd.DataFrame({'asset1': asset1, 'asset2': asset2})
data.head()

      asset1     asset2
0  41.496714  42.896070
1  41.358450  42.283084
2  42.006138  42.065769
3  43.529168  42.882231
4  43.295015  43.993238